* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  position: relative;
  width: 100vw;
}

#root {
  position: relative;
  width: 100%;
}

.App {
  position: relative;
  width: 100%;
}
