.Login-button button {
  all: unset;
  position: absolute;
  right: 2rem;
  top: 1rem;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  border-radius: 25px;
  transition: 500ms;
}

.Login-button button:hover {
  background-color: aqua;
  cursor: pointer;
}

.Login-button .Login-link {
  color: black;
}